<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group required">
    <label>Usuario</label>
    <input class="form-control" formControlName="Usuario">
    <label class="text-danger" *ngIf="service.formModel.get('Usuario').touched && service.formModel.get('Usuario').errors?.required">
El campo Usuario es obligatorio
    </label>
  </div>
  <div class="form-group required">
    <label>Nombre</label>
    <input class="form-control" formControlName="Nombre">
    <label class="text-danger" *ngIf="service.formModel.get('Nombre').touched && service.formModel.get('Nombre').errors?.required">El campo Nombre es obligatorio</label>
  </div>
  <div class="form-group required">
    <label>Apellido</label>
    <input class="form-control" formControlName="Apellido">
    <label class="text-danger" *ngIf="service.formModel.get('Apellido').touched && service.formModel.get('Apellido').errors?.required">El campo Apellido es obligatorio</label>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" formControlName="Correo">
    <label class="text-danger" *ngIf="service.formModel.get('Correo').touched && service.formModel.get('Correo').errors?.email">Email incorrecto</label>
  </div>
  <div formGroupName="Passwords">
    <div class="form-group required">
      <label>Contraseña</label>
      <input type="password" class="form-control" formControlName="Password">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">El campo Contraseña es obligatorio</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Se requiere minimo 4 caracteres</label>
    </div>
    <div class="form-group required">
      <label>Confirma la Contraseña</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">El campo Confirmar Contraseña es obligatorio</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Las contraseñas no coinciden</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Registrarse</button>
    </div>
  </div>
</form>